header
    background-color: darkslategrey;
    padding: 30px;
    a
        display: inline-block;
        color: white;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        &.active
            color: red